:root{
    --soft-red:hsl(10,79%,65%);
    --soft-red-transparent:hsla(10,79%,65%,75%);
    --cyan:hsl(186,34%,60%);
    --cyan-transparent:hsla(186,34%,60%,75%);
    --dark-brown:hsl(25,47%,15%);
    --medium-brown:hsl(28,10%,53%);
    --cream:hsl(27,66%,92%);
    --pale-orange:hsl(33,100%,98%);
    --highest-bar: 52.36;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background: var(--cream);
    display: flex;
    align-items: center;
    height: 100vh;
}

main{
    max-width: 500px;
    margin: 0  auto;
    flex-grow: 1;
}

h1,h2,h3,p{
    margin:0;
}

aside{
    background: var(--soft-red);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--pale-orange);
}

article{
    background: var(--pale-orange);
    padding: 2rem;
    margin-top: 1.25rem;
    border-radius: 1rem;
}

article > h2{
    margin-bottom: 1.5rem;
}

span{
    display: inline-block;
}

h1{
    margin-bottom: .5rem;
}

em,h1{
    font-style:normal;
    font-size: .9rem;
    font-weight: normal;
}

em{
    color:var(--medium-brown);
}

.space-between *{
    text-align-last: initial;
}

.space-between{
    text-align-last: justify;
}


.diagram{
    height:200px;
}

.diagram > *, .diagram + .days *{
    width: calc(75% / 7);
    vertical-align: bottom;
}

.diagram span{
    background: var(--soft-red);
    height: calc( (var(--price-value) /  var(--highest-bar)) * 10rem );
    max-height: 100%;
    border-radius: .25rem;
    position: relative;
}

.diagram>span:hover{
    background: var(--soft-red-transparent);
}

.diagram>span.today{
    background: var(--cyan);
}
.diagram>span.today:hover{
    background: var(--cyan-transparent);
}

.diagram::after{
    content:"";
    height:100%;
    display: inline-block;
    vertical-align: bottom;
    margin-right: calc(28% / -7);
}

.diagram .price{
    position: absolute;
    border-radius: .25rem;
    padding: .25rem;
    font-weight:700;
    color: var(--pale-orange);
    background: var(--dark-brown);
    top:-35px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.diagram > *:hover .price{
    display: block;
}

.mon{
    --price-value: 17.45;
}
.tue{
    --price-value: 34.91;
}
.wed{
    --price-value: 52.36;
}
.thu{
    --price-value: 31.07;
}
.fri{
    --price-value: 23.39;
}
.sat{
    --price-value: 43.28;
}
.sun{
    --price-value: 25.48;
}

.stats{
    padding-top: 1.5rem;
}

.rate{
    text-align-last:right;
    font-size: .9rem;
}

.total-month{
    font-size: 2.5rem;
}

.days{
    border-bottom: 1px solid var(--cream);
    padding-bottom: 2rem;
    text-align: center;
}
